.justifyMaster {
	text-align: justify; !important
}

.pinkBck {
	background-color: pink;
}

.petroleumBlueBck{
	background-color: #21c1cc;
}

.lightBlueBck{
	background-color: #8fddff;
}

.dalsyOrangeBck{
	background-color: #ffcf8f;
}

.whiteText{
	color: white;
}

.smallMargin{
	margin: 5px;
}

.imgSizer{
	width: 300px; 
	height: 250px;
}

.mapParams{
	width: 85%; 
	height: 350px;
	border:0; 
	border-radius:20px;
}

.bottomBanner{
	background-color: brown; 
	height: 50px; 
	color: white;
}